body {
    background-color: #111;
    color: #fff;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    margin: 0;
}

.minimal-button {
    background-color: #333;
    color: #fff;
    border: 0px solid #ccc;
    border-radius: 3px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition: background-color 0.3s, color 0.3s, border 0.3s;
}
.minimal-button:hover {
    background-color: #f0f0f0;
    color: #333;
    /*border: 1px solid #333;*/
}
a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    /*border: 1px solid #111;*/

}
a:hover {
    transition: ease-in-out 0.3s;
    background-color: #333;
    /*color: black;*/
    /*border: 1px solid #ccc;*/
}
.navbar {
    background-color: #333;
    position: fixed; /* Make the navbar fixed at the top */
    top: 0;
    width: 100%;
    overflow: hidden;
}
.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.navbar a:hover {
    background-color: #ddd;
    color: black;
}

#error {
    color: red;
}